{% load weekday %}
{% load humanize %} 

<h1> Upcoming  Events</h1>

<ul class="calendar-list">
    {% for d, event in upcoming_events %}
        {% with colors=event.get_colors %}
            <li class="month-event" style="background:{{ colors.0 }}; color:{{ colors.1 }};">
             <div class="container-fluid">
             
                {% if  event.offsiteevent  %}
                  <a href="{{event.offsite_link}}" title="Off Site Event" target=”_blank”>
               
                {% elif  event.opentie  %}
                  <a href="registeropen2?id={{event.id}}" title="Must be enrolled in Part I">
                {% elif event.openevent  %}
                <a href="registeropen?id={{event.id}}" title="Enroll in this Event">
                {% else %} 
                <a href="register?id={{event.id}}" title="Enroll in this Event">
                {% endif %}
                
               
                 
                <div class="date-widget" style="vertical-align: bottom;">
                    {% if  event.offsiteevent  %}
                    <div class="widget-month">
                       <strong>{{ d|date:"F" }} </strong>
                    </div>
                    
                    <div class="widget-day">
                       <strong> {{event.end_date.year}} </strong>
                    </div>
                    <div class="widget-year">
                       <strong>{{event.end_date|date:"F"}} </strong>
                    </div>
                    {% else %}
                    <div class="widget-month">
                       <strong> {{ d|date:"F" }} </strong>
                    </div>
                    
                    <div class="widget-day">
                       <strong> {{ d.day|ordinal }}-{{event.end_date.day|ordinal}}</strong>
                    </div>
                    <div class="widget-year">
                       <strong> {{event.end_date.year}}</strong>
                    </div>
                    
                    
                    
                    {%endif %}
                </div>
                 
                <div class="month-event-title" style="text-align:right;display: inline-block;vertical-align: top; float: right;">
                         
                        <p><strong>{{ event.title }}</strong></p>
                         {% for loc in event.location.all%}
                            {% if loc.name %}
                             <p>{{loc.name}}</p>
                            {% endif %}
                          {% endfor %}   
                        {% for c in event.cancellations.all %}
                            {% if c.date == d.date %}
                                (CANCELLED)
                            {% endif %}
                        {% endfor %}
                         
                     </a>
                      
                </div>
            </div>
            </li>
        {% endwith %}
    {% empty %}
    Oops.. No events!
    {% endfor %}
</ul>

