<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}

{% load namesplit %}

{% block banner %}
<br><br><center><h1 style="color:orange; font-size:28px;"> Intersure Partner Directory </h1></center>  
{% endblock banner %}    
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row" style="align=center">

    	      <article class="span4"><!--   -->
    	          <div class="lined">
    	              <h2> <span class="light">Click on a Specialty below to see agencies that provide those services</span></h2>  
                      <h2>or <a href="search3"><button type="button" class="btn btn-info btn-xs">Click here for more Search options</button></a></h2>
                      
                      {% tag_cloud_for_model Isure.Directory as dtags with steps=8  distribution=log %}
                      <br> 
                      {% for item in dtags %}

                           
                            <a href="/directory?spec={{item.id}}"><span style="font-size:2{{item.font_size}}px;color:orange;">{{item.name}}<br>  </span></a>   

                      {% endfor %} 
                          
    	              
    	               
    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span5"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          </div>
    	          
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span5"><!-- service -->
    	           
    	          <div>
    	          	  

                         {% if thisname %}
                          <h3 class="size-18">   {{thisname}} Agencies </h3>
                         {% endif %}
                         <table>
                         {% for item in theseItems %}
                         <tr>
                         <td><strong style="font-size: 20px;">{{item.AgencyName}}</strong><br> <br>
                             <img src="/static/{{item.Image}}" width="100" height="100"/><br>{{item.Differentiator}} <br>
                            <!-- <p><strong>Specialty:</strong> {{item.tags}} -->
                          </td>
                         
                         
                         </tr>
                         <tr><td><p><a href="dirview?mem={{item.id}}"><button type="button" class="btn btn-info btn-xs">Click for {{item.AgencyName|namesplit}} Details</button></a></p>
                         <span class="bolded-line"></span>
                         <br><br>
                         </td></tr>

                           
                          
                         {% endfor %}
                         </table>
                        
    	          	 
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	       

    	  </div><!-- /services -->

    	   

    	   

    	</div>
    </div> <!-- /container -->
 
     

    <div class="container">

         

         

         

    </div> <!-- /container -->
{% endblock main-content %}


  </body>
   
</html>
