<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}
{% load happenings_tags %}
{% load quick_links %}

{% block banner %}
<br><br><br> 
{% endblock banner %}   
   
{% block main-content %}
  
    	 
   
<div class="container">
   <h1 style="color:orange">Signup for the upcoming Intersure {{event.title}} Event </h1>
    	             <br style="line-height:38px;">
    <div class="row">
        <div class="col-xs-4">
           <br style="line-height:20px;">
           <div class="cc-block" style="background: #eeeeee;
	border: 1px solid #9eb4ba;font-family: 'Times New Roman', Times, serif;">
        <h3 id="event_dateTime" style="font-family: 'Times New Roman', Times, serif;font-style: oblique;">When</h3>
        <span id="span_event_dateTime_full_multiline">{{event.start_date}}<br />-to-<br />{{event.end_date}}</span>
        <br />
        <a id="lnkAddToCalendar" class="cc-calendar" href="/register/addtocalendar?oeidk=a07ednet022534e5038" title="Add to Calendar">Add to Calendar</a>

        <br><br>

        <h3 id="event_location" style="font-family: 'Times New Roman', Times, serif;font-style: oblique;">Where</h3>
        <p><strong>{{this_loc.address_line_1}}</strong>
        <p>{{this_loc.address_line_2}}<br>
           {{this_loc.city}},{{this_loc.state}} {{this_loc.zip}}<br>


        <br><br>

        <h3 id="event_contact" style="font-family: 'Times New Roman', Times, serif;font-style: oblique;">Contact</h3>

    </div>
        </div>
        <div class="col-xs-6">
            <div id="cc-content" class="cc-panel">
                        <div id="evm-rcol-container" class="evm-rcol-regrmc">
                      <h1 style="font-family: 'Times New Roman', Times, serif;font-style: oblique; color:orange;"> Intersure 2017 {{event.title}} Event Attendee Info</h1>
                        
                          <p style="font-family: 'Times New Roman', Times, serif;font-style: oblique;">We look forward to seeing you soon at the 2017 {{event.title}} Meeting in the vibrant city of {{event.location.name}} at the very stylish Grand Hyatt!</p>
                        
                      
                      
                      <div>
                      <form action="enroll" method="post">{% csrf_token %}

<div style="display: none;">
 
</div>  
<h2></h2><br>
  <div class="form-group " >

     

     <label for="firstname">
{% if form.firstname.errors %}  <SPAN class=error><font color=#FF0000><strong>First Name(Required)</strong></font></SPAN>
     {% else %}<strong>First Name(Required)</strong> {% endif %}
   </label>
     <input type="text" class="form-control" id="firstname" name="firstname"placeholder="Enter Your first name"
      {% if updatemode %} value = {{this_enrollee.firstname}} {% endif %}value = {{this_enrollee.firstname}} maxlength="50" size="75"></textarea>

<label for="lastname">
{% if form.firstname.errors %}  <SPAN class=error><font color=#FF0000><strong>Last Name(Required)</strong></font></SPAN>
     {% else %}<strong>Last Name(Required)</strong> {% endif %}
   </label>
     <input type="text" class="form-control" id="lastname" name="lastname"placeholder="Enter Your last name"
      {% if updatemode %} value = {{lastname}} {% endif %} value = {{this_enrollee.lastname}}></textarea>


   <label for="youremail">
{% if form.youremail.errors %}  <SPAN class=error><font color=#FF0000><strong>Your Email(is Required)</strong></font></SPAN>
     {% else %}<strong>Your email(Required)</strong> {% endif %}
   </label>


       
    <input type="email" class="form-control" id="youremail" name="youremail" aria-describedby="emailHelp" placeholder="Enter email"
     {% if updatemode %} value = {{email}} {% endif %} value = {{this_enrollee.email}}>
    <small id="emailHelp" class="form-text text-muted"> </small>

    <label for="cellphone"><strong>Cell Phone:</strong></label>
     <input type="text" class="form-control" id="cellphone" name="cellphone" placeholder="Cell Phone "
           {% if updatemode %} value = {{cellphone}}>{% endif %}</textarea>
     <div class="" style="width: 200px;">

      <label for="badgename"><strong>Badge Name:</strong></label>
      <input type="text" class="form-control " id="badgename" name="badgename" style="width:300" 
      {% if updatemode %} value = {{badgename}} {% endif %}></textarea>
     </div>
  </div>
<h2 id="section-custom2" style="color:orange">Materials Preferences</h2>
   
    
    
        
            <h3 id="id_single_select_label_custom11">Please indicate if you plan to bring your laptop or tablet as all meeting materials will be available electronically.</h3>

               
      <div class="btn-group">
            <ul style="list-style: none;">
              <li> <label><input type="radio" name="device" value="0" id="device">Yes, electronic materials work best.</label>  </li>
               <br>
              <li><label><input type="radio" name="device" value="1" id="device"   >Yes, but I would prefer to also have printed materials.</label></li> 
              <br>  
             <li><label><input type="radio" name="device" value="2" id="device"   /> No, I will need printed materials.</label></li>
            </ul>


           </ul>
      </div>
           <h2 id="section-custom2" style="color:orange">Meals</h2>



           <h3 id="id_single_select_label_custom11">Please Indicate If You Will Attend The Welcome Reception And Dinner On</h3>

               
      <div class="btn-group">
            <ul style="list-style: none;">
              <li> <label><input type="radio" name="meals" value="0" id="meals">Yes</label>  </li>
               <br>
              <li><label><input type="radio" name="meals" value="1" id="meals"   >No, but I would prefer to also have printed materials.</label></li> 
              
            </ul>


            
      </div>

      <h2 id="section-custom2"></h2>



           <h3 id="id_single_select_label_custom11">Please indicate if you have any special dietary needs.</h3>
              <input type="text" class="form-control " id="specialneeds" name="specialneeds" style="width:300" placeholder="Special Diet" 
      {% if updatemode %} value = {{specialneeds}} {% endif %}></textarea>
               
       
      <h2 id="section-custom2" style="color:orange">Guest Information</h2>



           <h3 id="id_single_select_label_custom11">You may add a maximum of one guest.</h3>
              <a id="new-board-btn" class="btn btn-success" >Add Guest</a>
               

            
      </div>



 <center><button type="submit" class="btn btn-primary">Register</button></center>
</form>
                       </div>
        </div>
    </div>
</div>

 




 
{% endblock main-content %}
 


  
