<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}
{% load happenings_tags %}
{% load quick_links %}

{% block banner %}
<br><br><br> 
{% endblock banner %}   
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span7"><!--   -->
    	          <div class="lined">
                       

    	              <h1 class="entry-title post-title"></h1>


				<div class="post-entry">
					 
<h3></h3>
<p> </p>
{% upcoming_events1 finish=465 num=8 %}
 

 

                      </p>
    	               
    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span3"><!-- service -->
    	           
    	          <div>
    	          	<br><br><!--
                      <a href="https://launchpad.37signals.com/basecamp" target="_blank">  <img src="/static/Pics/Members-Only-Basecamp-copy.jpg" alt="" width="215" height="137" /> </a> -->
    	          	 
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	       
    	      

    	  </div><!-- /services -->

    	  

    	   

    	</div>
    </div> <!-- /container -->
 
    

    <div class="container">

        

         

         

    </div> <!-- /container -->
{% endblock main-content %}
 


  </body>
   
</html>
