<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}
{% load quick_links %}


{% block banner %}
<br><br><br> 
{% endblock banner %}   
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span7"><!--   -->
    	          <div class="lined">
                      <img src="/static/Pics/IMA-Case-Study-Copy2.jpg"align="right" width="116" height="458">

    	              <h2>IMA Financial Group</h2>
    	              <p><strong>GENERATING IDEAS & SHARING BEST PRACTICES</strong> .<br style= "line-height:35px;">
<p>Since becoming an Intersure member in 1978, IMA has grown from an organization with 38 
 associates and $2.3 million in revenue to 520 associates and revenues exceeding $103 million – thanks in part to Intersure’s mission of sharing ideas.<br style= "line-height:35px;">

“At every Intersure meeting we attended, we’d come back to work with three to five ideas. Multiply that by two meetings a year for 35 years – these ideas have made a big impact in how we do business.”

Rob Cohen, CEO  |   IMA Financial Group  .<br style= "line-height:35px;">

Bill Cohen, IMA’s co-founder, recalls interviewing numerous Intersure agencies when starting IMA. “We found the best practices and borrowed every good idea we could find. We brought them back to IMA and then created more best practices to share.”.<br style= "line-height:35px;">

<p>Intersure has also given IMA the luxury of dedicated time to get away from the day-to-day business and concentrate on brainstorming and ideas. “From small tips that help improve our presentations to large ideas that help change the way we handle our Employee Benefits practice, Intersure’s real advantage is the true learning that comes from sitting down and talking with our peers,” Rob said. “I think our time with Intersure gets us away and on to another level of thought.”</p>

<p>Darrin Weber, a director at IMA, appreciates the sharing of ideas, best practices and common struggles among peers.
“It’s a gathering of the cream of the crop of the industry. We all have an inherent trust within the group that the information we share is confidential and not going to be used against each other. The ability to learn from others is valuable – What software are you using? What vendors are you using? How do you manage and motivate your sales people? What’s the typical spread of profit per employee? We also share mistakes we’ve made so that others may benefit. Peer discussion helps keep all our ideas fresh.”</p>

<p>Darrin Weber, Director  |  IMA Financial Group</p>

<p>Throughout the years, relationships have grown and expanded within Intersure. While IMA associates continue to gain new ideas, IMA now has the opportunity to mentor other organizations.  “The tables have turned — hopefully we’re now contributing as much as we’ve gotten out of it,” said Bill.</p>

<p>Rob echos the sentiment. “I want IMA to continue to be a mentor to others, the way others were mentors to us,” he said. “Relationships have been built exponentially through Intersure. It’s the true value of the organization.”</p>

 <br style= "line-height:35px;">

 

                      </p>
    	              <span class="bolded-line"></span>
    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          </div>
    	          <div>
    	              <!--	
                      <a href="https://launchpad.37signals.com/basecamp" target="_blank">  <img src="/static/Pics/Members-Only-Basecamp-copy.jpg" alt="" width="215" height="137" /> </a> 
    	          	<span class="bolded-line"></span>
                      -->
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	           
    	          <div>
    	          	<h3 class="size-18">Quick Links</h3>
                        {% get_quick_rels %} 
                        {% get_quick_links %} 
                         
                        
    	          	<span class="bolded-line"></span>
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	  </div><!-- /services -->

    	  <div class="row">
    	      <div class="span12">
    	          <div class="divide-line">
    	              <div class="icon icons-scissors"></div>
    	          </div>
    	      </div>
    	  </div>

    	  <div class="row">

    	       
    	       

    	       

    	  </div><!-- /row -->

    	</div>
    </div> <!-- /container -->
 
    

    <div class="container">

        <div class="row"><!-- about us -->
            <div class="span12">
                
                <div class="row">
                     
                    </div>
                </div>
            </div>
        </div><!-- /about us -->

         

         

    </div> <!-- /container -->
{% endblock main-content %}


  </body>
   
</html>
