<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}
{% load quick_links %}

{% block banner %}
<br><br><br> 
{% endblock banner %}   
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span7"><!--   -->
    	          <div class="lined">
                      <img src="/static/Pics/KPD-Case-Buttom-Copy-173x300.jpg"align="right" width="173" height="300">

    	              <h2>KPD Insurance</h2>
    	              <p><strong>BUILDING AN AGENCY PERPETUATION & GROWTH PLAN</strong> .<br style= "line-height:35px;">
<p>KPD Insurance, Inc., an Oregon-based independent insurance agency, had a growing concern many companies face today due to an aging workforce. Roughly 82 percent of the agency’s stock was owned by shareholders over the age of 55 – all of whom wanted to retire in the next few years.<br style= "line-height:35px;">

An agency consultant, John Jaques, was invited to an Intersure meeting on internal perpetuation. After the meeting, the group, along with John, helped KPD develop a roadmap for its perpetuation program. Because of the agency’s ability to openly share detailed financial data, KPD felt John had the experience and creativity to address their unique situation. He identified the additional steps needed to execute the plan and followed up to make sure the agency stayed on track. KPD uses this program and credits John and the Intersure group for helping the agency remain independent.

<br style= "line-height:35px;">

BKPD has more than doubled in size and increased its productivity (revenue per employee) by 50% through the ten years the agency has been a part of Intersure.<br>
“Intersure allows us to network and share best practices with agencies ranging from the national top 25 to neighborhood $5,000,000 shops, as well as learn something from every one of them.
I truly believe we would not be independent and growing today if wasn’t for the association all KPD owners and managers enjoy with other members of Intersure.”

Kyle Hudson, CEO | KPD Insurance<br style= "line-height:35px;">

<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="197">
<h2> Challenge</h2>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>Large group of shareholders were close to retirement</td>
<td valign="top" width="197">
<h2> Solution</h2>
<p><strong><span style="color: #f6a11c;">•</span> </strong>Worked with Intersure and an agency consultant on a business perpetuation plan</td>
<td valign="top" width="197">
<h2>Results</h2>
<p><strong><span style="color: #f6a11c;">•</span></strong> Remained independent</p>
<p><span style="color: #f6a11c;"><strong>•</strong></span> Doubled in size</p>
<p><strong><span style="color: #f6a11c;">•</span> </strong>50% increase in revenue per employee</td>
</tr>
</tbody>
</table>

 

 

                      </p>
    	              <span class="bolded-line"></span>
    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          </div>
    	          <div>
    	             <!-- 	
                      <a href="https://launchpad.37signals.com/basecamp" target="_blank">  <img src="/static/Pics/Members-Only-Basecamp-copy.jpg" alt="" width="215" height="137" /> </a> 
    	          	<span class="bolded-line"></span>

                     -->
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	           
    	          <div>
    	          	<h3 class="size-18">Quick Links</h3>
                        {% get_quick_rels %} 
                        {% get_quick_links %} 
                         
                        
    	          	<span class="bolded-line"></span>
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	  </div><!-- /services -->

    	  <div class="row">
    	      <div class="span12">
    	          <div class="divide-line">
    	              <div class="icon icons-scissors"></div>
    	          </div>
    	      </div>
    	  </div>

    	  <div class="row">

    	       
    	       

    	       

    	  </div><!-- /row -->

    	</div>
    </div> <!-- /container -->
 
    

    <div class="container">

        <div class="row"><!-- about us -->
            <div class="span12">
                
                <div class="row">
                     
                    </div>
                </div>
            </div>
        </div><!-- /about us -->

         

         

    </div> <!-- /container -->
{% endblock main-content %}


  </body>
   
</html>
