<!DOCTYPE html>
{% extends "base.html" %}
{% load tagging_tags %}
 
{% block banner %}
<br><br><br> 
{% endblock banner %}    
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      

    	      <article class="span5"><!-- service -->
    	          <div class="picture">
    	            {% if  form.errors   %} 
			<P><font color=#FF0000>There are errors with what you entered:</P>
			 {{   form.non_field_errors  }} 
			</font>
		    {% endif %} 
			<H1>Enter Your UserName and Password</H1>
			<br>
			<FORM action="login"method=post>{% csrf_token %}
			 
			<table border = 0>
			<tr>
			  
			  <th><LABEL for=id_username>Username:</LABEL></th>
			  <td>{% if form.username.errors %} <br><SPAN class=error><font color=#FF0000>
			{{ form.username.errors|join:", " }}</font>
			</SPAN> {% endif %}  <input type = textarea size=30 name=username value = {{username}} ></td>
			</tr><tr>
			  <th><LABEL for=id_password>Password:</LABEL></th>
			  <td> {% if form.password.errors %}<br> <SPAN class=error><font color=#FF0000>* 
			{{ form.password.errors|join:", " }}</font> 
			</SPAN> {% endif %}<input type = password size=30 name="password" 
					   value = "{{password}}" ></td>
			</tr>
			<tr>  
			  <td><INPUT type=submit value="Log in"> </td> </tr>   
			  <tr> 
			  <td><P><strong>Members - Get your <a href = "signup"> login ID here</a></strong> </P></td>

                          </table></FORM>   
    	                   
    	              	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	  </div><!-- /services -->

    	  <div class="row">
    	      <div class="span12">
    	          <div class="divide-line">
    	              <div class="icon icons-scissors"></div>
    	          </div>
    	      </div>
    	  </div>

    	  <div class="row">

    	       
    	       

    	       

    	  </div><!-- /row -->

    	</div>
    </div> <!-- /container -->
 
    <div class="dark-stripe">
         
    </div><!-- /dark-stripe -->

    <div class="container">

        <div class="row"><!-- about us -->
            <div class="span12">
                <div class="lined">
                     
                    <span class="bolded-line"></span>
                </div>
                <div class="row">
                     
                    </div>
                </div>
            </div>
        </div><!-- /about us -->

         

         

    </div> <!-- /container -->
{% endblock main-content %}

 
 
  </body>
   
</html>
