<!DOCTYPE html> 

{% extends "base.html" %}
{% load tagging_tags %}
{% load quick_links %}
{% load showDisclosures %}
 
{% block banner %}
<br><br><br> 
{% endblock banner %}   
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span7"><!--   -->
    	          
                       

    	              <h1 class="entry-title post-title"></h1>


				 
					 
 
 
 


				<div class="post-entry">
					<h1> </h1>

<h2>Mutual Indemnification Templates: </h2>

<p><strong></strong> Note to Members: These documents were developed to guide discussion,including compensation guidelines, as a resource to identify who does business where and is interested in facilitating placement for other members. Specific agreements and amounts are between partners. 

<ul>

{% get_broker %}
 

{% get_comp %}
 
</ul>  
<br style="line-height:292px;">
 
				</div>
				<!-- end of .post-entry -->
 

 

                       
    	               
    	           
    	           
    	           
    	      </article><!-- /our services -->

    	       

    	       

    	      

    	  </div><!-- /services -->

    	  

    	       
    	       

    	       

    	  </div><!-- /row -->

    	 
    </div> <!-- /container -->
 
<div>    
<br style="line-height:90px;" />&nbsp;
</div>   
{% endblock main-content %}

  </body>
   
</html>
   
 
 
  
   

