<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}
{% load quick_links %}
 
{% block banner %}
<br><br><br> 
{% endblock banner %}  
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span7"><!--   -->
    	          <div class="lined">
                      <img src="/static/Pics/Rogers-Case-Buttom-Copy-160x300.jpg"align="right" width="160" height="300">

    	              <h1>Rogers Insurance</h1>
<h3>GROWING THE BUSINESS IN A NEW MARKET</h3>
<p>Rogers Insurance, Ltd. is a multi-line brokerage with three offices in Alberta, Canada. <strong>One issue the brokerage was facing, similar to others in the industry, was producer management. </strong>Additionally, Rogers Insurance had a large oil and gas account that branched into the United States. The client’s quick and significant expansion into another country had the Canadian-based insurance  brokerage seeking help for the American side of operations.</p>
<p>The multi-line brokerage called upon their Intersure connections. A meeting was then arranged on the theory behind <strong>psychometric profiles and call reluctance.</strong> After the meeting, the consultant provided a week of cold call training. The presentation and subsequent training became an eye opener, causing the brokerage to change a major part of their sales thinking. The telemarketing team was reduced to one person who focused more on trade shows and other general marketing activities as opposed to prospecting in place of producers.</p>
<p>After three months of follow-up activities, Rogers sustained a 400% increase in prospecting activities which then culminated into <strong>the company’s best new business year ever.</strong></p>
<h4 style="padding-left: 30px;">“Intersure has given us the opportunity to share and learn with highly capable brokerages across North America, while also building long-term relationships with industry peers.”</h4>
<p style="padding-left: 30px;"><span style="color: #f6a11c;"><strong>Bruce Rabik, Chief Operating Officer | Rogers Insurance</strong></span></p>
<p>Through Intersure, Rogers was also able to contact a U.S. based broker with extensive experience in oil and gas. Without this partnership, Rogers would not be able to <strong>retain the account which had grown to $3 million in premium</strong>. What made the difference is that Rogers offered a partnership with a U.S. brokerage that could operate as an extension and offer its capabilities.</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="197">
<h2> <strong>Challenge</strong></h2>
<p><span style="color: #f6a11c;"><strong>• </strong></span>Producer management</p>
<p><strong><span style="color: #f6a11c;">•</span> </strong>Large client expanded into another country</td>
<td valign="top" width="197">
<h2> <strong>Solution</strong></h2>
<p><span style="color: #f6a11c;"><strong>• </strong></span>Utilized Intersure for guidance and training on psychometric profiles and call reluctance</p>
<p><strong><span style="color: #f6a11c;">• </span></strong>Found a U.S. brokerage firm through Intersure that could act as an extension, offering both expertise and capabilities in the oil &amp; gas field</td>
<td valign="top" width="197">
<h2><strong>Results</strong></h2>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>400% increase in prospecting activities and company’s best new business year ever</p>
<p><span style="color: #f6a11c;"><strong>•</strong></span> Maintained a $3 million in premium account</td>
</tr>
</tbody>
</table>
 

 

                      </p>
    	              <span class="bolded-line"></span>
    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          </div>
    	          <div>
                    <!--
    	          	
                     <a href="https://launchpad.37signals.com/basecamp" target="_blank">   <img src="/static/Pics/Members-Only-Basecamp-copy.jpg" alt="" width="215" height="137" /> </a>
    	          	<span class="bolded-line"></span>
                    -->
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	           
    	          <div>
    	          	<h3 class="size-18">Quick Links</h3>
                        {% get_quick_rels %} 
                        {% get_quick_links %}
                         
                        
    	          	<span class="bolded-line"></span>
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	  </div><!-- /services -->

    	  <div class="row">
    	      <div class="span12">
    	          <div class="divide-line">
    	              <div class="icon icons-scissors"></div>
    	          </div>
    	      </div>
    	  </div>

    	  <div class="row">

    	       
    	       

    	       

    	  </div><!-- /row -->

    	</div>
    </div> <!-- /container -->
 
    

    <div class="container">

        <div class="row"><!-- about us -->
            <div class="span12">
                
                <div class="row">
                     
                    </div>
                </div>
            </div>
        </div><!-- /about us -->

         

         

    </div> <!-- /container -->
{% endblock main-content %}


  </body>
   
</html>
