<!DOCTYPE html>

{% extends "base.html" %}
{% load tagging_tags %}
{% load quick_links %}

{% block banner %}
<br><br><br> 
{% endblock banner %}   
   
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span7"><!--   -->
    	          <div class="lined">
                      <img src="/static/Pics/Ross-Yerger-case-button-211x300.jpg"align="right" width="211" height="300">

    	              <h1 class="entry-title post-title">Ross &#038; Yerger</h1>


				<div class="post-entry">
					 
<h3>TRANSITIONING TO A NEW OWNERSHIP STRUCTURE</h3>
<p>Ross &amp; Yerger Insurance (R&amp;Y) joined Intersure in 2000. A year later, the owner decided to sell the fourth generation, family-owned agency in Jackson, Mississippi. To <strong>prevent acquisition by a national broker,</strong> a group of executives purchased R&amp;Y via an Employee Stock Ownership Plan. Their first order of business was to create a perpetuation plan that would keep the business thriving in the next generation. In 2001, R&amp;Y had roughly 45 employees, $7.5M in revenues and $5M of corporate debt.</p>
<p>With the help of several Intersure partners and national consultants, <strong>R&amp;Y began developing an internal perpetuation program</strong>, which is now referred to as its Future Partners Group (FPG). Several ideas that spawned from the Intersure relationships included:</p>
<ul>
<ul>
<li>limiting ownership for any one producer to 15% to relieve cash flow pressure if retiring one or several large books of business at a given time</li>
<li>implementing a formula whereby a given producer’s ownership is “reallocated” periodically according to his/her “contribution” to the agency’s book of business</li>
<li>setting appropriate levels of compensation for new and renewal business</li>
</ul>
</ul>
<h4 style="padding-left: 30px;">“ We’re all about staying independent, which not many in our peer group can say these days. Thanks to Intersure, we’ve built an agency perpetuation plan that will keep us that way.”</h4>
<p style="padding-left: 30px;"><span style="color: #f6a11c;"><strong>Dudley Wooley, CEO/COO | Ross &amp; Yerger</strong></span></p>
<p>By the end of 2012, R&amp;Y had grown to 95 employees and $18.5M in revenues. This was achieved with <strong>100% organic growth post acquisition</strong>. The agency has a success rate of 65% among all producers hired into the FPG program and is recognized as a Best Place to Work by MS Business Journal and Business Insurance, as well as a “Top 3 Commercial Insurance Agency” by National Underwriter. R&amp;Y attributes a great deal of its success to the many personal and professional relationships developed with Intersure partners.</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="197">
<h2> Challenge</h2>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>Creating a successful agency perpetuation plan under new ownership</td>
<td valign="top" width="197">
<h2> Solution</h2>
<p><span style="color: #f6a11c;"><strong>• </strong></span>Various Intersure partners guided R&amp;Y on structuring their agency perpetuation plan to include ownership limitations and reallocations, as well as set compensation levels</td>
<td valign="top" width="197">
<h2>Results</h2>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>100% organic growth</p>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>65% program success rate</p>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>$11M in revenues</p>
<p><span style="color: #f6a11c;"><strong>•</strong> </span>50 new employees</td>
</tr>
</tbody>
</table>
 

 

                      </p>
    	               
    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          </div>
    	          <div>
                    <!-- 
    	          	
                     <a href="https://launchpad.37signals.com/basecamp" target="_blank">  <img src="/static/Pics/Members-Only-Basecamp-copy.jpg" alt="" width="215" height="137" /> </a> 
    	          	<span class="bolded-line"></span>
                     -->
    	          </div>
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      <article class="span3"><!-- service -->
    	           
    	          <div>
    	          	<h3 class="size-18">Quick Links</h3>
                        {% get_quick_rels %} 
                        {% get_quick_links %}
                         
                        
    	          	<span class="bolded-line"></span>
    	          </div>
    	           
    	           
    	      </article><!-- /service -->

    	       

    	  </div><!-- /services -->

    	   

    	   

    	</div>
    </div> <!-- /container -->
 
    

    <div class="container">

         

         

         

    </div> <!-- /container -->
{% endblock main-content %}


  </body>
   
</html>
