<!DOCTYPE html>
{% extends "base.html" %}
{% load tagging_tags %}
{% load archives %}
{% load humanize %}
 
{% block banner %}
<br><br><br> 
{% endblock banner %}    
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span9"><!--   -->
    	          <div class="lined">
  
{% if msg %}
<h2 style="color:orange">-{{ msg }}-</h2>
{% endif %}


{% if show_result %}
<div class="container">
   <div class="row">
     <div class="col">
 
 <h2 style="text-align: center;">Search Results</h2>
   <h3 style="text-align: center;">(Click Agency Name for details)</h3>

<table align=center>
<tr>
<td>
 {% if resultPage.has_previous %}
            <a href="?page={{ resultPage.previous_page_number }}"><strong>Previous</strong></a>
        {% endif %}
</td>
<td>
    <span class="current">
            &nbsp;Page {{ resultPage.number }} of {{ resultPage.paginator.num_pages }}.&nbsp;
        </span>
</td>
<td>

    {% if resultPage.has_next %}
            <a href="?page={{ resultPage.next_page_number }}"><strong>Next</strong></a>
        {% endif %}
</td>

</table><a href="searchdl" title="Download Results"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>


<table class="table table-striped" style="width:160%" align=right>
<thead align="center">
<tr align="center">
<th>Agency</th>
<th>Prin</th>
<th>Empl</th>
<th align="center">Rev</th>
<th align="center">Comm %</th>
<th align="center">Bene %</th>
<th align="center"> Pers %</th>
<th align="center">CRM</th>
<th align="center">AMS</th>
<th align="center">Comm Lines</th>
<th align="center">Empl Lines</th>
<th align="center">Pers Lines</th>
</tr>
</thead>
<tbody>
{% for item in resultPage %}
<tr align="center">
<td><a href="dirview?mem={{item.id}}"><div><strong>{{item.AgencyName}}</strong></div></a> </td>
<td>{{item.principals}}</td>
<td>{{item.employees}}</td>
<td>${{item.Revenue|intcomma}}</td>
<td> {{item.CommPct}}%</td>
<td> {{item.BenePct}}%</td>
<td> {{item.PersPct}}%</td>
<td> {{item.CRM}}</td>
<td> {{item.AMS}}</td>
<td> {% for line in item.commercialvol_set.all%}
       
      {{line.Insurer }}<br> 
       
     {%endfor%} 
      
</td>
<td> {% for line in item.employeevol_set.all%}
       
      {{line.Insurer }}<br> 
       
     {%endfor%} 
      
</td>

<td> {% for line in item.personalvol_set.all%}
       
      {{line.Insurer }}<br> 
       
     {%endfor%} 
      
</td>

</tr>

{% endfor %}
</tbody>
</table>

</div>
  </div>
    </div>
<hr style = " height: 2px; background-color:#555; margin-top: 20px; margin-bottom: 20px; width: 75%;">
 
{% endif %}






<div style="width: 120%; display: table;">
<div style="display: table-row">
 
<div style="width: 100%; display: table-cell;">
<h2>Directory Search Filter</h2><br>
<form action="search3" method="post">{% csrf_token %}
  <div class="form-group " >

     <table .table .table-responsive>
     <tr>
     <td style="width:225px"> Number of Principals - Enter a Range: </td>
     <td style="width:25px">Minimum: </td>
     <td style="width:45px"> <input type="text" name="prin_min" maxlength="3" size="3"  style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;"> </td>
     <td style="width:45px">Maximum: </td>
     <td style="width:45px"><input type="text" name="prin_max" maxlength="3" size="3"  style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;"> {{prin_max}}  </td> 
      
     </tr>
     
     <tr>
     <td> Number of Employees - Enter a Range: </td>
     <td>Minimum: </td>
     <td><input type="text" name="emp_min" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{emp_min}} </td>
     <td>Maximum: </td>
     <td><input type="text" name="emp_max" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{emp_max}} </td> 
     </tr>

     <tr>
     <td> Total Revenue - Enter a Range: </td>
     <td>Minimum: </td>
     <td> <input type="text" name="rev_min" maxlength="8" size="8" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{rev_min}}  </td>
     <td>Maximum: </td>
     <td> <input type="text" name="rev_max" maxlength="8" size="8" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{rev_max}}  </td> 
     </tr>
     <tr><td><h3>Business Breakdown %:</h3> </td></tr>
 

     <tr>
     <td>&nbsp;&nbsp;Commercial - Enter a range: </td>
      <td>Minimum: </td>
     <td><input type="text" name="comm_min" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{comm_min}} </td> 
     <td>Maximum: </td>
     <td><input type="text" name="comm_max" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{comm_max}} </td> 
     </tr>
        
       <tr>     
            <td>&nbsp;&nbsp;Employee Benefits - Enter a range:</td>
            <td>Minimum: </td>
            <td><input type="text" name="bene_min" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{bene_min}} </td> 
            <td>Maximum: </td>
             <td><input type="text" name="bene_max" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{bene_max}} </td>
        </tr>
          
         <tr>
            <td>&nbsp;&nbsp;Personal - Enter a range:  </td>
            <td>Minimum: </td>
             <td><input type="text" name="pers_min" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{pers_min}} </td>
            <td>Maximum: </td>
            <td><input type="text" name="pers_max" maxlength="5" size="5" style="width: 30px;height:11px; border: none;border-bottom: 2px solid orange;">{{pers_max}} </td> 
     
          </tr>
</table>
<table> 
          
      <tr><td><h3>Office Management Systems:</h3> </td></tr>
      <tr>
     <td>Select a CRM : </td>
      <td>{{form.crm}}</td>
     </tr>

     <tr>
     <td>Select an AMS : </td>
      <td>{{form.ams}}</td>
     </tr>
        
     </table>   

<table> 
          
      <tr><td><h3>Carrier Volume:</h3> </td></tr>

     <tr>
     <td>Select a Commercial Line : </td>
      <td>{{form.commercials}}</td>
      <td>Minimum: </td>
            <td><input type="text" name="commvol_min" maxlength="5" size="5" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{commvol_min}} </td> 
            <td>Maximum: </td>
             <td><input type="text" name="commvol_max" maxlength="5" size="5" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{commvol_max}} </td>


     </tr>

     <tr>
     <td>Select an Employee Benefits Line : </td>
      <td>{{form.employees}}</td>
      <td>Minimum: </td>
            <td><input type="text" name="emplvol_min" maxlength="5" size="5" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{emplvol_min}} </td> 
            <td>Maximum: </td>
             <td><input type="text" name="emplvol_max" maxlength="5" size="5" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{emplvol_max}} </td>


     </tr>

      <tr>
     <td>Select a Personals Line : </td>
      <td>{{form.personals}}</td>
      <td>Minimum: </td>
            <td><input type="text" name="pervol_min" maxlength="5" size="5" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{pervol_min}} </td> 
            <td>Maximum: </td>
             <td><input type="text" name="pervol_max" maxlength="5" size="5" style="width: 65px;height:11px; border: none;border-bottom: 2px solid orange;">{{pervol_max}} </td>


     </tr>

      
        
     </table>    


 <button type="submit" class="btn btn-primary">Search</button>
</form>
</div> <!--Left Div -->


</div>
</div>

    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	       
              <!-- 
    	      <article class="span3"> 
    	           
    	          <div>
    	          	<h3 class="size-18">Blog Archives:</h3>
                         
                        {% archive %}
    	          	<span class="bolded-line"></span>
    	          </div>
    	          <p> </p>
    	           
    	      </article>  -->

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	  </div><!-- /services -->

    	  <div class="row">
    	       
    	  </div>

    	  <div class="row">

    	       
    	       

    	       

    	  </div><!-- /row -->

    	</div>
    </div> <!-- /container -->
 
     

    <div class="container">

         

         

         

    </div> <!-- /container -->
{% endblock main-content %}

 
 
  </body>
   
</html>
