<!DOCTYPE html>
{% extends "base.html" %}
{% load tagging_tags %}
 
{% block banner %}
<br><br><br> 
{% endblock banner %}    
{% block main-content %}
    <div class="main-content">
    	<div class="container">

    	  <div class="row">

    	      <article class="span6"><!--   -->
    	          <div class="lined">
    	                <h1>Success Stories</h1>
<h3>[Because our partners tell it best]</h3>
<p style="font-size:16px;">The results of our partners speak for themselves. Click the links below to learn more about how the All Together Different approach of Intersure has <strong>driven change in our member companies</strong>, impacting their bottom line and the long term health of their business.</p>
<p style="font-size:16px;">For each of their stories, we share the challenge they faced, the strategy they took, and what results they reaped.</p>
<p>&nbsp;</p>
<br><br>
<p style="font-size:16px;"><a href="imasuccess"><img class="alignnone" src="static/Pics/IMA-Case-Study-122x300.jpg" alt="IMA Case Study" width="122" height="300" /></a>    
<img class="alignnone size-medium wp-image-173" src="/static/Pics/Case-Study-Divider-Line-copy-17x300.jpg" alt="Case Study Divider Line copy" width="17" height="300" />   
<a href="kpdsuccess"><img class="alignnone size-medium wp-image-171" src="/static/Pics/Case-study-llink-button-2-122x300.jpg" alt="Case study llink button 2" width="122" height="300" /></a>   

 <img src="static/Pics/Case-Study-Divider-Line-copy-17x300.jpg" alt="Case Study Divider Line copy" width="17" height="300" />    

<a href="rogerssuccess"><img class="alignnone size-medium wp-image-170" src="/static/Pics/Case-study-llink-button-1-122x300.jpg" alt="Case study llink button 1" width="122" height="300" /></a>    

 <img src="/static/Pics/Case-Study-Divider-Line-copy-17x300.jpg" alt="Case Study Divider Line copy" width="17" height="300" />      

 <a href="rossyergersuccess"><img src="/static/Pics/Case-study-llink-button-4-122x300.jpg" alt="Case study llink button 4" width="122" height="300" /></a></p>
<p>&nbsp;</p>

    	          </div>
    	           
    	           
    	      </article><!-- /our services -->

    	      <article class="span5"><!-- service -->
    	          <div class="picture">
    	              
    	                   
    	              	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	      

    	      <article class="span3"><!-- service -->
    	          <div class="picture">
    	               
    	                   
    	              	   
    	          	   
    	          </div>
    	           
    	          <p> </p>
    	           
    	      </article><!-- /service -->

    	  </div><!-- /services -->

    	  
    	  

    	</div>
    </div> <!-- /container -->
 
     

     
{% endblock main-content %}

 
 
  </body>
   
</html>
